/* SITE-SPECIFIC TAB STYLING */

body.profile #tab_profile a,
body.notices #tab_notices a
{
    color: #000; /* selected tab text colour */
}
body.profile #tab_profile,
body.notices #tab_notices
{
    margin: 0; /* to compensate for border */
    padding: 5px 0 5px;
    background-color: #DEF; /* selected tab colour */
    border-left: 1px solid #000; /* tab border */
    border-top: 1px solid #000; /* tab border */
    border-right: 1px solid #000; /* tab border */
}
body { padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */ }
table.table td.bold { font-weight: bold; padding-left: 20px; }
table.table { margin: 0.5em 0; }
div.tab-content { border-width: 0 1px 1px 1px; border-style: solid; border-color: #CCC; padding: 1em; }
ul.nav-tabs { padding: 0; margin: 0; }
div.image-caption { text-align: right; background: url("../images/image-caption.png") repeat scroll 0 0 transparent; height: 75px; margin: -75px 0 0.5em 0; position: relative; width: 100%; z-index: 100; }
div.image-caption h1 { color: #EDEDED; padding: 0.2em; }
h2 { font-size: 135%; }
div#item-tags { margin: 0 0.2em 0 0; }
#footer { background-color: #000; color: #EDEDED; padding: 2em 0; }
.border-radius { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 0 0 1em; }
ul.articles { list-style-type: none; margin: 1em 0 2em;; }
ul.articles li h4 { display: inline; }
ul.articles li a { text-decoration: none; }
#item-description { margin-top: 0.5em; }
.label { display: inline-block; }
